$color-primary: #e0004d;
$color-primary-2: #51284f;

$color-heading: #008c8e;
$color-gallery: #e68585;
$color-paragraph: #9e88a8;

$color-black: #000000;
$color-white: #fff;

$color-gray-light-1: #faf9f9;
$color-gray-light-2: #f4f2f2;
$color-gray-light-3: #f0eeee;
$color-gray-light-4: #ccc;

$color-gray-dark-1: #333;
$color-gray-dark-2: #777;
$color-gray-dark-3: #999;
$color-gray-dark-4: #262129;
$color-gray-dark-5: #312f2f;

$footer-color-1: #1d1d1d;
$footer-color-2: #282727;

$text-color-1: #ff015a;
$text-color-2: #a7039e;

// GRADIENT-COLOR
$black-blue-gradient: linear-gradient(
  to top right,
  #171017,
  #17152b,
  #1a090b,
  #110f1a
);

$blue-purple-gradient: linear-gradient(to bottom right, #10101a, #482c54);
