//LOGO
.logo-box {
  position: absolute;
  z-index: 1500;
  top: 4rem;
  left: 4rem;
  cursor: pointer;

  &__logo {
    width: 11.5rem;
  }

  &__position {
    position: fixed;
  }
}

.header {
  position: relative;

  // HEADER
  &__main {
    display: flex;
  }

  // FUNCTIONALITY
  &__container {
    background-size: cover;
    width: 100%;
    height: 120vh;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      transition-property: opacity;
      transition-duration: 0.5s;
    }

    &:hover::before {
      opacity: 0.6 !important;
    }

    //LEFT SIDE
    &--left {
      background-image: url(../img/hero-large-1.jpg);
      background-position: 100%;

      &::before {
        background-color: $color-primary;
        opacity: 0.6;
      }
    }

    //RIGHT SIDE
    &--right {
      background-image: url(../img/hero-large-2.jpg);
      background-position: center;

      &::before {
        background-color: $color-primary-2;
      }
    }

    // ARROW CIRCLE FUNCTIONALITY
    &-arrow {
      height: 7rem;
      width: 7rem;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 0 0 1rem rgba($color-black, 0.15);

      display: flex;
      justify-content: center;
      transform: scale(1);
      transition: transform 0.5s, background-color 0.5s;

      &--left {
        align-items: center;
        background-color: $color-primary-2;
      }

      &--right {
        align-items: center;
        background-color: $color-primary;
      }

      //HEADER BOTTOM ICON FUNCTIONALITY
      &--down {
        align-items: flex-start;
        padding-top: 0.7rem;
        border: 2px solid $color-white;
        height: 5.8rem;
        width: 2.8rem;
        border-radius: 10rem;
      }
    }

    &:hover &-arrow {
      transform: scale(1.3);

      &--left {
        background-color: rgba($color-primary-2, 0.9);
      }

      &--right {
        background-color: rgba($color-primary, 0.9);
      }
    }
  }

  &:hover &__container--left::before,
  &:hover &__right--right::before {
    opacity: 1;
  }

  // TEXT AREA
  &__text-box {
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  // SVG ICON LEFT AND RIGHT
  &__icon {
    fill: $color-white;
    width: 2.8rem;
    height: 2.8rem;

    // HEADER ICON BOTTOM
    &--down {
      width: 3px;
      height: 1.2rem;
      border-radius: 1rem;
      background-color: $color-white;
      animation: anim 2.5s infinite;
    }
  }

  // HEADER ICON BOX POSITION
  &__down-arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
