.profile {
  background-image: $blue-purple-gradient;

  display: flex;
  align-items: center;

  &--small {
    width: 42rem;
  }

  &--medium {
    width: 56rem;
  }
  &__description {
    &--1 {
      padding: 0 4.5rem;
    }

    &--2 {
      padding: 0 3.5rem 0 2.5rem;
    }

    p {
      color: $color-white;
      font-size: 1.6rem;
    }
  }

  &__img-box {
    // &--1 {
    //   padding-left: 4rem;
    // }

    &--2 {
      order: -1;
      padding-right: 2rem;
    }
  }

  &__photo {
    &--1 {
      display: block;
      height: 26rem;
      width: auto;
    }

    &--2 {
      display: block;
      height: 32rem;
      width: auto;
    }
  }
}
