*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px; 10 / 16 * 100 = 62.5%;
}

body {
  box-sizing: border-box;
}

.row {
  max-width: 122rem;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: 6rem;
  }
}

.row2 {
  max-width: 114rem;
  margin: 0 auto;
}

// select text
::selection {
  background-color: $color-primary;
  color: $color-white;
}

// style scroll bar
::-webkit-scrollbar {
  width: 1.7rem;
}

::-webkit-scrollbar-track {
  background: $black-blue-gradient-2;
}

::-webkit-scrollbar-thumb {
  background-color: $silver-color;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba($color-black, 0.25);
  border-radius: 10rem;
}
