body {
  font-family: "Roboto", "Nunito", sans-serif;
  font-weight: 400;
  color: $color-gray-dark-1;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}

.heading-primary {
  font-size: 6.5rem;
  color: $color-white;
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: "nunito";
  text-shadow: 0 2px 20px rgba($color-black, 0.16);
}

.heading-secondary {
  font-size: 6.5rem;
  line-height: 1.1;
  margin-bottom: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
  font-style: italic;
  color: $color-gray-dark-2;
}

.heading-normal {
  font-size: 6rem;
  line-height: 1.2;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: "nunito";
  color: $color-heading;
}

.gradient-color {
  position: relative;
  @include gradient-text;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: -50%;
    transform: translate(-50%, 50%);
    width: 9rem;
    height: 2px;
    background-image: inherit;
  }
}

.heading-tertiary {
  font-size: 5rem;
  line-height: 1.1;
  color: $color-white;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  &--text {
    font-size: 1.5rem;
    margin-left: 1rem;
  }
}

.heading-six {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "nunito";
  font-weight: 800;
  margin-bottom: 0.5rem;
  font-style: italic;
  @include gradient-text;
}

.paragraph-big {
  font-size: 1.9rem;
  margin-bottom: 1.5rem;
  line-height: 1.4;
  font-weight: 500;
  font-family: "nunito";
  color: $color-gray-dark-2;
}

.paragraph {
  font-size: 1.55rem;
  color: #9e88a8;
  line-height: 1.7;
  font-weight: 500;
  font-family: "Rajdhani";
  text-shadow: 0 2px 20px rgba($color-black, 0.16);
  margin-bottom: 1.5rem;
}
